@using System.Web.Http
@using CelloApiDoc.Areas.HelpPage.Models
@model HelpPageApiModel

@{
    var description = Model.ApiDescription;
    ViewBag.Title = description.HttpMethod.Method + " " + description.RelativePath;
}

@if(ViewBag.partial != null && (bool)ViewBag.partial) {
    @Html.DisplayFor(m => Model)
} else {
<h1 id="apiHeadline">API Details</h1>
<div class="pull-right">
    @Html.ActionLink("Back", "Index",null, new{@class="btn btn-default"})
</div>

<section class="chapterWrapper">
    @Html.DisplayFor(m => Model)  
</section>
}