@using System.Web.Http
@using System.Web.Http.Description
@using System.Web.Http.Controllers
@using System.Collections.ObjectModel
@using CelloApiDoc.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<div id="rightColumn" class="floating">
    <p class="title">Table of Contents</p>
    <ul id="toc">
        <li>
            <a href="#authenticationflow">Authentication Flow</a>
        </li>
        @foreach (var group in Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor.ControllerName))
        {
            <li><a href="#@group.Key">@group.Key</a></li>
        }
    </ul>
    <div id="endpoints">
        <p class="title">API</p>
        <input id="real-api" type="text" tabindex="1" readonly="readonly" value="https://demo.techcello.com/api/v1/" name="real-api" />
    </div>
</div>
<div id="leftColumn" class="javascriptExample">
    <h1 id="apiHeadline">CelloSaaS API</h1>
    <div class="details">
        This API can be used to integrate with your application, mobile app, etc. It features functionality to manage tenants, users, 
        access control, settings, events, send emails and monitor.
    </div>
    <div class="chapterWrapper">
        <hgroup class="chapter">
            <h1>Authentication Flow</h1>
            <div class="details">
                <p>These endpoints handle login and session management</p>
            </div>
        </hgroup>
        <section class="resource noActivity">
            <hgroup>
                <h1 class="method-get"><span>GET</span></h1>
                <h2>/login</h2>
            </hgroup>
            <article class="details">
                <p>
                    Returns the login form. Sets a
                    <code>_s_portal_session</code>
                    cookie for the session
                </p>
            </article>
        </section>
    </div>
    @foreach (var group in apiGroups)
    {
        @Html.DisplayFor(m => group, "ApiGroup")
    }
</div>
