@using System.Web.Http
@using CelloApiDoc.Areas.HelpPage.ModelDescriptions
@model ModelDescription

<h1 id="apiHeadline">@Model.Name</h1>
<div class="pull-right">
    @Html.ActionLink("Home", "Index",null, new{@class="btn btn-default"})
</div>
<section class="chapterWrapper">
    <section class="resource">
        <div class="details">
            <p>@Model.Documentation</p>
        </div>
        <article style="margin: 20px; padding-bottom: 20px;">
            @Html.DisplayFor(m => Model)
        </article>
    </section>
</section>
