/* CelloSaaS Debug Toolbar CSS*/
#pDebug {
    color: #000;
    background: #FFF;
}

    #pDebug, #pDebug div, #pDebug span, #pDebug applet, #pDebug object, #pDebug iframe,
    #pDebug h1, #pDebug h2, #pDebug h3, #pDebug h4, #pDebug h5, #pDebug h6, #pDebug p, #pDebug blockquote, #pDebug pre,
    #pDebug a, #pDebug abbr, #pDebug acronym, #pDebug address, #pDebug big, #pDebug cite, #pDebug code,
    #pDebug del, #pDebug dfn, #pDebug em, #pDebug font, #pDebug img, #pDebug ins, #pDebug kbd, #pDebug q, #pDebug s, #pDebug samp,
    #pDebug small, #pDebug strike, #pDebug strong, #pDebug sub, #pDebug sup, #pDebug tt, #pDebug var,
    #pDebug b, #pDebug u, #pDebug center,
    #pDebug dl, #pDebug dt, #pDebug dd, #pDebug ol, #pDebug ul, #pDebug li,
    #pDebug fieldset, #pDebug form, #pDebug label, #pDebug legend,
    #pDebug table, #pDebug caption, #pDebug tbody, #pDebug tfoot, #pDebug thead, #pDebug tr, #pDebug th, #pDebug td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 12px;
        line-height: 1.5em;
        vertical-align: baseline;
        background: transparent;
        font-family: sans-serif;
        text-align: left;
    }

#pShowToolBarButton {
    color: #0090D9;
}

    #pShowToolBarButton.active {
        color: #F35958;
        background-color: #21242B;
    }

#pDebug #pDebugToolbar {
    background: #111;
    width: 200px;
    z-index: 98;
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    opacity: 0.9;
    right: -200px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    #pDebug #pDebugToolbar.open {
        right: 0px;
    }

    #pDebug #pDebugToolbar small {
        color: #999;
    }

    #pDebug #pDebugToolbar ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #pDebug #pDebugToolbar li {
        border-bottom: 1px solid #222;
        color: #fff;
        display: block;
        font-weight: bold;
        float: none;
        margin: 0;
        padding: 0;
        position: relative;
        width: auto;
    }

        #pDebug #pDebugToolbar li a,
        #pDebug #pDebugToolbar li div.contentless {
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            display: block;
            font-size: 16px;
            padding: 10px 10px 5px 25px;
            color: #fff;
        }

        #pDebug #pDebugToolbar li > div.contentless {
            color: #383838;
            padding: 0 25px;
        }

    #pDebug #pDebugToolbar li,
    #pDebug #pDebugToolbar a {
        display: inline-block;
        width: 100%;
    }

        #pDebug #pDebugToolbar li a:hover {
            background: #333;
        }

        #pDebug #pDebugToolbar li.active {
            background-repeat: no-repeat;
            background-position: left center;
            background-color: #333;
        }

            #pDebug #pDebugToolbar li.active a {
                color: #da7028;
            }

                #pDebug #pDebugToolbar li.active a:hover {
                    /*color: #e8772c;*/
                    background-color: transparent;
                }

        #pDebug #pDebugToolbar li small {
            font-size: 11px;
            color: #999;
            font-style: normal;
            text-decoration: none;
        }

        #pDebug #pDebugToolbar li .switch {
            font-size: 10px;
            position: absolute;
            display: block;
            color: white;
            height: 16px;
            width: 16px;
            cursor: pointer;
            top: 15px;
            right: 2px;
        }

            #pDebug #pDebugToolbar li .switch.active {
                background-image: url(../img/tick.png);
            }

            #pDebug #pDebugToolbar li .switch.inactive {
                background-image: url(../img/tick-red.png);
            }

#pDebug code {
    display: block;
    font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Lucida Console", monospace;
    white-space: pre-wrap;
    overflow: auto;
}

#pDebug tr.pDebugEven {
    background-color: #f5f5f5;
}

#pDebug .panelContent {
    display: none;
    position: fixed;
    margin: 0;
    top: 0;
    right: 200px;
    bottom: 0;
    left: 0px;
    background-color: #eee;
    color: #666;
    z-index: 1002;
}

    #pDebug .panelContent > div {
        border-bottom: 1px solid #ddd;
    }

#pDebug .pDebugPanelTitle {
    position: absolute;
    color: #666;
    padding-left: 20px;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    background: #2664D4;
}

    #pDebug .pDebugPanelTitle code {
        display: inline;
        font-size: inherit;
    }

    #pDebug .pDebugPanelTitle h3 {
        color: #fff;
    }

#pDebug .pDebugPanelContent {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    padding: 0 0 0 20px;
}

    #pDebug .pDebugPanelContent .scroll {
        height: 100%;
        overflow: auto;
        display: block;
        padding: 0 10px 0 0;
    }

#pDebug a i {
    font-size: 24px;
    margin-right: 10px;
}

#pDebug h3 {
    font-size: 24px;
    font-weight: normal;
    line-height: 50px;
    display: inline-block;
}

#pDebug h4 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0.8em;
}

#pDebug h5 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0.8em;
}

#pDebug .panelContent table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    margin-top: 0.8em;
    overflow: auto;
}

#pDebug .panelContent tr {
    width: 100%;
}

    #pDebug .panelContent tr.error td {
        color: #c00;
    }

#pDebug .panelContent tbody td,
#pDebug .panelContent tbody th {
    vertical-align: top;
    padding: 2px 3px;
    width: auto;
}

#pDebug .panelContent thead th {
    padding: 1px 6px 1px 3px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    background-color: #e5e5e5;
}

    #pDebug .panelContent thead th a {
        font-size: 14px;
    }

#pDebug .panelContent tbody th {
    width: 12em;
    text-align: right;
    color: #666;
    padding-right: .5em;
}

#pDebug .pTemplateHideContextDiv {
    background-color: #fff;
}

#pDebug .panelContent .pDebugClose {
    font-size: 2.5em;
    display: block;
    position: absolute;
    top: 4px;
    right: 15px;
    height: 40px;
    width: 40px;
    color: #FFFFFF;
}

    #pDebug .panelContent .pDebugClose:hover {
        color: #999;
    }

    #pDebug .panelContent .pDebugClose.pDebugBack {
    }

        #pDebug .panelContent .pDebugClose.pDebugBack:hover {
        }

#pDebug .panelContent dt, #pDebug .panelContent dd {
    display: block;
}

#pDebug .panelContent dt {
    margin-top: 0.75em;
}

#pDebug .panelContent dd {
    margin-left: 10px;
}

#pDebug a.toggleTemplate {
    padding: 4px;
    background-color: #bbb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

    #pDebug a.toggleTemplate:hover {
        padding: 4px;
        background-color: #444;
        color: #F98131;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }


#pDebug a.pTemplateShowContext, #pDebug a.pTemplateShowContext span.toggleArrow {
    color: #999;
}

    #pDebug a.pTemplateShowContext:hover, #pDebug a.pTemplateShowContext:hover span.toggleArrow {
        color: #000;
        cursor: pointer;
    }

#pDebug .pDebugSqlWrap {
    position: relative;
}

#pDebug .pDebugSql {
    z-index: 100000002;
}

#pDebug .pSQLHideStacktraceDiv tbody th {
    text-align: left;
}

#pDebug .pSqlExplain td {
    white-space: pre;
}

#pDebug span.pDebugLineChart {
    background-color: #777;
    height: 3px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    display: block;
    z-index: 1000000001;
}

#pDebug span.pDebugLineChartWarning {
    background-color: #900;
}

#pDebug .highlight {
    color: #000;
}

    #pDebug .highlight .err {
        color: #000;
    }
    /* Error */
    #pDebug .highlight .g {
        color: #000;
    }
    /* Generic */
    #pDebug .highlight .k {
        color: #000;
        font-weight: bold;
    }
    /* Keyword */
    #pDebug .highlight .o {
        color: #000;
    }
    /* Operator */
    #pDebug .highlight .n {
        color: #000;
    }
    /* Name */
    #pDebug .highlight .mi {
        color: #000;
        font-weight: bold;
    }
    /* Literal.Number.Integer */
    #pDebug .highlight .l {
        color: #000;
    }
    /* Literal */
    #pDebug .highlight .x {
        color: #000;
    }
    /* Other */
    #pDebug .highlight .p {
        color: #000;
    }
    /* Punctuation */
    #pDebug .highlight .m {
        color: #000;
        font-weight: bold;
    }
    /* Literal.Number */
    #pDebug .highlight .s {
        color: #333;
    }
    /* Literal.String */
    #pDebug .highlight .w {
        color: #888888;
    }
    /* Text.Whitespace */
    #pDebug .highlight .il {
        color: #000;
        font-weight: bold;
    }
    /* Literal.Number.Integer.Long */
    #pDebug .highlight .na {
        color: #333;
    }
    /* Name.Attribute */
    #pDebug .highlight .nt {
        color: #000;
        font-weight: bold;
    }
    /* Name.Tag */
    #pDebug .highlight .nv {
        color: #333;
    }
    /* Name.Variable */
    #pDebug .highlight .s2 {
        color: #333;
    }
    /* Literal.String.Double */
    #pDebug .highlight .cp {
        color: #333;
    }
