@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using CelloApiDoc.Areas.HelpPage
@using CelloApiDoc.Areas.HelpPage.Models
@model IGrouping<HttpControllerDescriptor, ApiDescription>

@{
    var controllerDocumentation = ViewBag.DocumentationProvider != null ? 
        ViewBag.DocumentationProvider.GetDocumentation(Model.Key) : 
        null;
}
<div class="chapterWrapper">
    <hgroup class="chapter">
        <h1 id="@Model.Key.ControllerName">@Model.Key.ControllerName</h1>
        @if (!string.IsNullOrEmpty(controllerDocumentation))
        {
        <article class="details">
            <p>@controllerDocumentation</p>
        </article>
        }
    </hgroup>

    @foreach (var api in Model)
    {
        <section class="resource noActivity">
            <hgroup>
                <h1 class="method-@api.HttpMethod.Method.ToLowerInvariant()"><span>@api.HttpMethod.Method.ToUpperInvariant()</span></h1>
                <a href="@Url.Action("Api", "Help", new { apiId = api.GetFriendlyId() })" data-api="@api.RelativePath">
                    <h2>@api.RelativePath.Substring(3, api.RelativePath.Length - 3).ToLowerInvariant()</h2>
                </a>
            </hgroup>
            <article class="details">
                <p>
                    @if (api.Documentation != null)
                    {

                        <p>@api.Documentation</p>
                    }
                    else
                    {

                        <p>No documentation available.</p>
                    }
                </p>
                @*Html.RenderAction("Api",new { apiId =  api.GetFriendlyId(), partial=true });*@
            </article>
        </section>
    }
</div>
