@using System.Web.Http
@using System.Web.Http.Description
@using CelloApiDoc.Areas.HelpPage.Models
@using CelloApiDoc.Areas.HelpPage.ModelDescriptions
@model HelpPageApiModel

@{
    ApiDescription description = Model.ApiDescription;
}
    <section class="resource noActivity">
        <hgroup>
            <h1 class="method-@description.HttpMethod.Method.ToLowerInvariant()"><span>@description.HttpMethod.Method.ToUpperInvariant()</span></h1>
            <h2>@description.RelativePath.Substring(3, description.RelativePath.Length - 3).ToLowerInvariant()</h2>
        </hgroup>
        <article class="details">
            @if (description.Documentation != null) 
            {               
            <p>@description.Documentation</p>
            } else 
            {               
            <p>No documentation available.</p>
            }
        </article>
        <article style="margin: 20px;">
            <h2>Request Information</h2>

            @if (Model.UriParameters != null && Model.UriParameters.Count() > 0)
        {
            <h3>URI Parameters</h3>
            @Html.DisplayFor(m => m.UriParameters, "Parameters")
        }

        <h3>Body Parameters</h3>
            <div class="detials">
                <p>
                    @if (Model.RequestModelDescription != null)
            {
            @Html.DisplayFor(m => m.RequestModelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.RequestModelDescription })
            }
            @Model.RequestDocumentation
                </p>
            </div>

            @if (Model.RequestModelDescription != null)
    {
        
        if (Model.RequestBodyParameters != null && Model.RequestBodyParameters.Count() > 0)
        {
            @Html.DisplayFor(m => m.RequestBodyParameters, "Parameters")
        }
    }
    else
    {
        <p>None.</p>
            }

    @if (Model.SampleRequests.Count > 0)
    {
        <h3>Request Formats</h3>
            @Html.DisplayFor(m => m.SampleRequests, "Samples")
    }
        </article>
        <article style="margin: 20px; padding-bottom: 20px;">
            <h2>Response Information</h2>

            <h3>Resource Description</h3>

            <p>@description.ResponseDescription.Documentation</p>

            @if (Model.ResourceDescription != null)
            {
                @Html.DisplayFor(m => m.ResourceDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.ResourceDescription })
                if (Model.ResourceProperties != null)
                {
                    @Html.DisplayFor(m => m.ResourceProperties, "Parameters")
                }
            }
            else
            {
                <p>None.</p>
            }

            @if (Model.SampleResponses.Count > 0)
            {
                <h3>Response Formats</h3>
            @Html.DisplayFor(m => m.SampleResponses, "Samples")
            }
        </article>
    </section>
