﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">

    <link href="../../Content/webfonts/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/custom-theme.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/knockout-3.1.0.js"></script>

    <title>Forgot Password</title>

    <style type="text/css">
        #passwordresetform h2 {
            text-align: center;
        }
    </style>
</head>
<body class="login">
    <div class="pgheader"></div>
    <section id="login" class="visible animated fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-np">
                    <div class="login-box-plain">
                        <form id="passwordresetform" method="post" data-bind="attr: { action: PostbackUrl }">
                            <h2>Forgot Password</h2>
                            <!-- ko if: Message != null -->
                            <div class="alert alert-danger" data-bind="if: Message">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <span class="error-head">
                                    The following error[s] occurred
                                </span>
                                <div class="error-wrapper">
                                    <p class="nrml-txt" data-bind="text: Message"></p>
                                </div>
                            </div>

                            <!-- /ko -->
                            <!-- Form Name -->
                            <!-- Prepended text-->
                            <div class="row">
                                <div class="form-container col-md-12">
                                    <div class="form-group">
                                        <!-- ko if: {{AllowCommonLogin}} != 1 -->
                                        <label for="CompanyCode">Company Name</label>
                                        <i class='fa fa-group fa-fw'></i>
                                        <input id="CompanyCode" name="CompanyCode" class="form-control" placeholder="" type="text" readonly="readonly" data-bind="attr: { value: CompanyCode }" />
                                        <!-- /ko -->
                                        <input id="clientid" name="ClientId" type="hidden" value="" data-bind="attr: { value: ClientId }" />
                                        <input id="providerid" name="providerid" type="hidden" value="" data-bind="attr: { value: ProviderId }" />
                                        <input id="State" name="State" type="hidden" value="" data-bind="attr: { value: State }" />
                                        <input id="companycode" name="CompanyCode" type="hidden" value="" data-bind="attr: { value: CompanyCode }" />
                                    </div>

                                    <!-- Prepended text-->
                                    <div class="form-group">
                                        <label for="UserName">User Name</label>
                                        <i class="fa fa-user fa-fw"></i>
                                        <input id="UserName" name="UserName" class="form-control" placeholder="User Name" type="text" required="required" data-bind="attr: { value: UserName }" autofocus="autofocus" />
                                    </div>

                                    <!-- Prepended text-->
                                    <div class="form-group">
                                        <label for="SecurityQuestion">Security Question</label>
                                        <i class='fa fa-lock fa-fw'></i>
                                        <!--<input id="SecurityQuestion" name="SecurityQuestion" placeholder="" type="hidden" required="">-->
                                        <select id="SecurityQuestion" name="SecurityQuestion">
                                            <option value="PetName">What is the name of your pet?</option>
                                            <option value="AnniversaryDate">What is your anniversary date?</option>
                                            <option value="BirthCity">What is your city of birth?</option>
                                            <option value="MiddleName_Father">What is the middle name of your father?</option>
                                            <option value="MiddleName_Spouse">What is the middle name of your spouse?</option>
                                            <option value="MiddleName_Child">What is the middle name of your first child?</option>
                                            <option value="LastName_Friend">What is the last name of your best friend?</option>
                                            <option value="HighSchoolCity">What city did you attend high school?</option>
                                            <option value="CarMake">What was the make of your first car?</option>
                                        </select>
                                    </div>
                                    <!-- Prepended text-->
                                    <div class="form-group">
                                        <label for="SecurityAnswer">Security Answer</label>
                                        <i class="fa fa-unlock-alt fa-fw"></i>
                                        <input id="SecurityAnswer" name="SecurityAnswer" class="form-control" placeholder="Security Answer" type="password" required="">
                                    </div>
                                    <!-- Prepended text-->
                                    <div class="form-group">
                                        <label for="SecurityAnswer">New Password</label>
                                        <i class="fa fa-unlock-alt fa-fw"></i>
                                        <input id="NewPassword" name="NewPassword" class="form-control" placeholder="New Password" type="password" required="" data-bind="attr: { value: NewPassword }" />
                                    </div>
                                    <!-- Prepended text-->
                                    <div class="form-group">
                                        <label for="SecurityAnswer">Confirm Password</label>
                                        <i class="fa fa-unlock-alt fa-fw"></i>
                                        <input id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Confirm Password" type="password" required="" data-bind="attr: { value: ConfirmPassword }" />
                                    </div>


                                    <div class="form-group col-md-8 col-md-offset-3">
                                        <button id="submit" name="submit" class="btn btn-success">
                                            Update
                                        </button>
                                        <a class="btn btn-default" href="/api/authentication/Login?message=">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<div class="pgfooter"></div>-->
    <script type="text/javascript">
        $(function () {

            $(".pgheader").load("../../Resources/header.html");
            //$(".pgfooter").load("../../Resources/footer.html");

            var loginModel = JSON.parse('{{jsonData}}');
            ko.applyBindings(loginModel);
        });
    </script>
</body>
</html>
