<html>
<head>
    <title>Consent</title>
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/knockout-3.1.0.js"></script>
    <script src="../Scripts/manageconsent.js"></script>
    <link href="../../Content/webfonts/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/custom-theme.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        $(document).ready(function () {
            $(".pgheader").load("../../Resources/header.html");
            //$(".pgfooter").load("../../Resources/footer.html");

            var objConsentData = JSON.parse('{{jsonData}}');
            ko.applyBindings(objConsentData);
        });
    </script>

    <style type="text/css">
        .consents i {
            display: inline !important;
            position: relative !important;
        }

        .consents p i {
            font-size: 3em;
            color: #3a87ad;
        }

        .consents h2 .hd-title {
            padding-left: 30px;
            border-bottom: 1px solid #dddddd;
        }

        .consents .hd-title {
            padding-left: 30px;
        }

        .wide-right {
            padding-left: 50px;
        }

        .consents ul li {
            list-style: none;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .consents .scopedescription {
            display: block;
        }

        .scopes i {
            color: #3a87ad !important;
            margin: 4px 2px 4px 5px !important;
        }

        .strong {
            font-weight: bold;
        }
    </style>

</head>
<body class="login">
    <div class="pgheader"></div>
    <section id="login" class="consents visible animated fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-np">
                    <div class="login-box-plain">
                        <form method="post" data-bind="attr: { action: PostUrl }" id="consentForm">
                            <!--<input type="hidden" data-bind="attr: { value: PostUrl }" id="PostUrl">-->
                            <p>
                                <a data-bind="attr: { href: ClientUrl, title: Client }">
                                    <!-- ko if: ClientLogo != null -->
                                    <img data-bind="attr: { src: ClientLogo, alt: Client, title: Client }" height="150px" width="150px" />
                                    <!-- /ko -->
                                    <!-- ko if: ClientLogo == null -->
                                    <i class="fa fa-bell fa-5x fa-fw"></i>
                                    <!-- /ko -->
                                </a>
                                <br />
                                <span class="wide-right" data-bind="text: Client" />
                            </p>
                            <input type="hidden" data-bind="attr: { value: Client }" name="Client" id="Client" />
                            <input type="hidden" data-bind="attr: { value: ClientId }" name="ClientId" id="ClientId" />
                            <input type="hidden" data-bind="attr: { value: CompanyCode }" name="CompanyCode" id="CompanyCode" />
                            <div class="divide-20"></div>
                            <h4>
                                This <span class="strong" data-bind="text: Client"></span> requests the following permissions :
                            </h4>
                            <div class="row">
                                <div class="form-container col-md-12">
                                    <div class="consents">
                                        <div class="scopes">
                                            <h2>

                                                <i class="fa fa-user fa-2x fa-fw"></i><span class="hd-title">
                                                    Identity Scopes
                                                </span>
                                            </h2>
                                            <ul data-bind="foreach: IdentityScopes">
                                                <li>
                                                    <input type="hidden" data-bind="attr: { value: Name, 'data-displayname': DisplayName, 'data-description': Description, 'data-IsSelected': true }" class="IdentityScopes" name="IdentityScopes" />
                                                    <i class="fa fa-bookmark-o fa-2x fa-fw"></i>
                                                    <span class="hd-title" data-bind="text: DisplayName">&nbsp;</span>
                                                    <span class="hd-title scopedescription" data-bind="text: Description">&nbsp;</span>
                                                </li>
                                            </ul>
                                            <h2>
                                                <i class="fa fa-cubes fa-2x fa-fw"></i><span class="hd-title">
                                                    Application Scopes
                                                </span>
                                            </h2>
                                            <ul data-bind="foreach: ApplicationScopes" class="appScopesList">
                                                <li>
                                                    <input type="hidden" data-bind="attr: { value: Name, 'data-displayname': DisplayName, 'data-description': Description, 'data-IsSelected': true }" class="ApplicationScopes" name="ApplicationScopes" />
                                                    <i class="fa fa-bookmark-o fa-2x fa-fw"></i>
                                                    <span class="hd-title" data-bind="text: DisplayName">&nbsp;</span>
                                                    <span class="hd-title scopedescription" data-bind="text: Description">&nbsp;</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="rememberconsent form-group col-md-8">
                                        <input type="hidden" name="AllowRememberConsent" id="AllowRememberConsent" value="" />
                                        <!--<input type="checkbox" name="rememberConsent" class="rememberConsent" id="RememberConsent">-->
                                        <input type="hidden" name="IdScopes" id="IdScopes" value="" />
                                        <input type="hidden" name="AppScopes" id="AppScopes" value="" />
                                        <input type="hidden" name="GrantConsent" id="GrantConsent" value="" />
                                        <!--<label data-bind="" for="RememberConsent">
                                            Remember Consent
                                        </label>-->
                                        <br />
                                        <input id="btnAccept" type="button" value="Grant" class="btn btn-success" />
                                        <a class="btn btn-default" href="/api/authentication/Login?message=">Cancel</a>
                                        <input type="hidden" id="ApplicationScopes" name="ApplicationScopes" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--<div class="pgfooter"></div>-->
</body>
</html>
