﻿<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div id="logo">
                        <a href="/" title="Goto CelloSaaS Login Page">
                            <h1>
                                Cello<span class="semi-bold">SaaS</span>
                            </h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>