﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../../Content/webfonts/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/custom-theme.css" rel="stylesheet" type="text/css" />

    <title>Login</title>

</head>

<body class="login login-body;">
    <div class="pgheader"></div>
    <section id="login" class="visible animated fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-np">

                    <div class="login-box-plain">
                        <!-- ko if: {{onlyregistration}} != 1 -->
                        <h2 class="text-center">Login</h2>
                        <!-- /ko -->
                        <!-- ko if: {{onlyregistration}} == 1 -->
                        <h2 class="text-center">Register Yourselves</h2>
                        <!-- /ko -->
                        <div class="divide-20"></div>
                        <!-- ko if: Message != null -->
                        <div class="alert alert-danger" data-bind="if: Message">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <span class="error-head">
                                The following error[s] occurred
                            </span>
                            <div class="error-wrapper">
                                <p class="nrml-txt" data-bind="text: Message"></p>
                            </div>
                        </div>
                        <!-- /ko -->
                        <form action="/" method="post" data-bind="attr: { action: PostbackUrl }">
                            <!-- ko if: {{onlyregistration}} != 1 -->
                            <!-- ko if: Providers == null || {{AllowCommonLogin}} == 1-->

                            <div class="form-group">
                                <!--<label for="username">Username</label>-->
                                <i class="fa fa-user fa-fw"></i>
                                <input type="text" class="form-control" placeholder="john.smith" autofocus="" name="UserName" data-bind="attr: { value: UserName }" required="required" />
                            </div>
                            <div class="form-group">
                                <!--<label for="password">Password</label>-->
                                <i class="fa fa-key fa-fw"></i>
                                <input type="password" class="form-control" placeholder="Password" name="Password" data-bind="attr: { value: Password }" required="required" />
                            </div>
                            <!--<div>-->
                            <div class="form-actions">
                                <button class="btn btn-primary btn-block" type="submit">Submit</button>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!--</div>-->
                            <input type="hidden" name="Provider" id="Provider" value="" data-bind="attr: { value: Provider }" />
                            <input type="hidden" name="State" id="State" value="" data-bind="attr: { value: State }" />
                            <input type="hidden" name="ProviderId" id="ProviderId" value="" data-bind="attr: { value: ProviderId }" />
                            <input type="hidden" name="ClientId" id="ClientId" value="" data-bind="attr: { value: ClientId }" />
                            <input type="hidden" name="CompanyCode" id="CompanyCode" data-bind="attr: { value: CompanyCode }" />
                            <input type="hidden" name="accessKey" id="accessKey" value="" data-bind="attr: { value: AccessKey }" />

                        </form>
                        <div class="divide-20"></div>
                        <!-- ko if: {{onlyregistration}} != 1 -->
                        <div class="text-center">
                            -------------------- Or --------------------
                        </div>
                        <!-- /ko -->
                        <!-- ko if: Providers != null -->
                        <div class="divide-20"></div>
                        <div class="providers" style="text-align: center; padding: 5px">
                            <ul data-bind="foreach: Providers">
                                <!-- ko if: Name == "Google" -->
                                <li>
                                    <a href="#" data-bind="attr: { href: Url, title: Name, text: Name }">
                                        <i class="fa fa-google fa-3x fa-fw"></i>
                                    </a>
                                </li>
                                <!-- /ko -->
                                <!-- ko if: Name == "Twitter" -->
                                <li>
                                    <a href="#" data-bind="attr: { href: Url, title: Name, text: Name }">
                                        <i class="fa fa-twitter fa-3x fa-fw"></i>
                                    </a>
                                </li>
                                <!-- /ko -->
                                <!-- ko if: Name == "Facebook" -->
                                <li>
                                    <a href="#" data-bind="attr: { href: Url, title: Name, text: Name }">
                                        <i class="fa fa-facebook fa-3x fa-fw"></i>
                                    </a>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                        <!-- /ko -->
                        <div class="divide-20"></div>
                        <!-- ko if: Providers == null || {{AllowCommonLogin}} == 1 -->
                        <div class="login-helpers">

                            Can't access your account?
                            <a id="passwordhelp" data-baseuri="/api/authentication/forgotpassword" title="Forgot your password!">
                                Forgot Password?
                            </a>

                            <div class="divide-10"></div>
                            <!-- ko if: {{AllowCommonLogin}} != 1 || {{onlyregistration}} == 1 -->
                            Don't have a user account?
                            <a id="userregistration" data-baseuri="/authentication/registeruser" title="Register">Register User now!</a>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                        <!-- ko if: {{onlyregistration}} != 1 -->
                        <div class="divide-10"></div>
                        Don't have a company account?
                        <a id="userregistration" href="{{reguri}}" title="Register">Register Company now!</a>
                        <!-- /ko -->
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<div class="pgfooter"></div>-->
    <script type="text/javascript" src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/knockout-3.1.0.js"></script>

    <script type="text/javascript">
        $(function () {

            $(".pgheader").load("../../Resources/header.html");
            //$(".pgfooter").load("../../Resources/footer.html");

            var loginModel = JSON.parse('{{jsonData}}');
            ko.applyBindings(loginModel);

            $("#passwordhelp").click(function () {

                var accessKey = $("#accessKey").val();
                var clientId = $("#ClientId").val();
                var companyCode = $("#CompanyCode").val();
                var baseUri = $(this).data("baseuri");

                window.location = baseUri + "?accesskey=" + accessKey + "&clientId=" + clientId + "&companyCode=" + companyCode;
                //?accesskey={{accessKey}}&clientId={{clientId}}&companyCode={{companyCode}}
            });

            $("#userregistration").click(function () {
                var accessKey = $("#accessKey").val();
                var clientId = $("#ClientId").val();
                var companyCode = $("#CompanyCode").val();
                var baseUri = $(this).data("baseuri");

                window.location = baseUri + "?access_key=" + accessKey + "&client_id=" + clientId + "&company_code=" + companyCode;
            });
        });
    </script>

</body>
</html>
