﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-Off</title>
    <link href="../../Content/webfonts/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/custom-theme.css" rel="stylesheet" type="text/css" />
</head>
<body class="login">
    <div class="pgheader"></div>
    <section id="login" class="visible animated fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-np">
                    <div class="login-box-plain text-center">
                        <h2 class="text-center">Account Signed-Off Successfully</h2>
                        <div class="divide-20"></div>
                        <div class="divide-20"></div>
                        <div class="row-fluid">
                            <a class="btn btn-primary btn-cons" title="continue" href="{{redirectUri}}" style="width:100px;">Continue</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<div class="pgfooter"></div>-->
    <script type="text/javascript" src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/knockout-3.1.0.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".pgheader").load("../../Resources/header.html");
            //$(".pgfooter").load("../../Resources/footer.html");
        });
    </script>
</body>
</html>
