﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Password</title>
    <script type="text/javascript" src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/knockout-3.1.0.js"></script>

    <link href="../../Content/webfonts/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/custom-theme.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        $(function () {
            $(".pgheader").load("../../Resources/header.html");
            //$(".pgfooter").load("../../Resources/footer.html");
            var loginModel = JSON.parse('{{jsonData}}');
            ko.applyBindings(loginModel);
        });
    </script>
</head>
<body class="login">
    <div class="pgheader"></div>
    <section id="login" class="visible animated fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-np">
                    <div class="login-box-plain">
                        <form method="post" action="/" data-bind="attr: { action: PostbackUrl }">
                            <h2>Change Password</h2>
                            <!-- ko if: Message != null -->
                            <div class="alert alert-danger" data-bind="if: Message">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <span class="error-head">The following error[s] occurred
                                </span>
                                <div class="error-wrapper">
                                    <p class="nrml-txt" data-bind="text: Message"></p>
                                </div>
                            </div>

                            <!-- /ko -->
                            <div class="row">
                                <div class="form-container col-md-12">
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label for="username">Username / Email</label>
                                        <i class="fa fa-user fa-fw"></i>
                                        <input id="username" name="username" type="text" placeholder="User Name or Email" class="form-control input-md" data-bind="attr: { value: UserName }" required="required" readonly="readonly" />
                                        <input id="clientid" name="ClientId" type="hidden" value="" data-bind="attr: { value: ClientId }" />
                                        <input id="providerid" name="providerid" type="hidden" value="" data-bind="attr: { value: ProviderId }" />
                                        <input id="State" name="State" type="hidden" value="" data-bind="attr: { value: State }" />
                                        <input id="companycode" name="CompanyCode" type="hidden" value="" data-bind="attr: { value: CompanyCode }" />
                                    </div>

                                    <!-- Password input-->
                                    <div class="form-group">
                                        <label for="password">Existing Password</label>
                                        <i class="fa fa-key fa-fw"></i>
                                        <input id="password" name="password" type="password" placeholder="Existing Password" class="form-control input-md" required="" autofocus="autofocus"/>
                                    </div>

                                    <!-- Password input-->
                                    <div class="form-group">
                                        <label for="newpassword">New Password</label>
                                        <i class="fa fa-key fa-fw"></i>
                                        <input id="newpassword" name="newpassword" type="password" placeholder="New Password" class="form-control input-md" required="" />
                                    </div>

                                    <!-- Prepended text-->
                                    <div class="form-group">
                                        <label for="confirmpassword">Confirm Password</label>
                                        <i class="fa fa-key fa-fw"></i>
                                        <input id="confirmpassword" name="confirmpassword" class="form-control" placeholder="Confirm Password" type="password" required="" />
                                    </div>

                                    <!-- Button (Double) -->
                                    <div class="form-group col-md-8 col-md-offset-3">
                                        <button id="save" name="save" class="btn btn-success">Update</button>
                                        <a class="btn btn-default" href="/api/authentication/Login?message=">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--<div class="pgfooter"></div>-->
</body>
</html>
