﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<dynamic>" %>
<div id="serviceListTable">
    <% foreach (var item in (List<CelloSaaS.Model.LicenseManagement.Service>)ViewData["ServiceList"])
       {%>
    <div style="float: left; width: 100px;">
        <input type="checkbox" name="roleService" value="<%=item.ServiceCode %>" style="margin: 0px;
            padding: 0px; width: 25px;" />
        <%=item.ServiceName%>
    </div>
    <% } %>
</div>
