﻿@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<div>
    The following error occured while attempting to logon
    @{
        string message = null;
        if (ViewBag.Message != null)
        {
            message = ViewBag.Message as string;
        }
        @:message
    }
</div>

Please click <a href="@Url.Action("Logon")" title="Logon">here </a>to attempt login again