﻿@model CelloSaaS.Introspection.IntrospectionData
@using CelloSaaS.Library
@{
    var model = this.Model as CelloSaaS.Introspection.IntrospectionData;
    var db = model != null ? model.Database : null;
    var security = model != null ? model.Security : null;
    var perf = model != null ? model.Performance : null;
    var wcf = model != null ? model.WCF : null;
    var license = ViewBag.License as CelloSaaS.Model.LicenseManagement.TenantLicense;
    var packageDetails = ViewBag.PackageDetails as CelloSaaS.Model.LicenseManagement.PackageDetails;

    bool showHtml = !string.IsNullOrEmpty(Request.QueryString["includeMaster"]) && Convert.ToBoolean(Request.QueryString["includeMaster"]);

    if (showHtml)
    {
        <link href="@Url.Content("~/bundles/themes/celloskin")" type="text/css" rel="stylesheet" />
        <link href="@Url.Content("~/bundles/cellostyles")" type="text/css" rel="stylesheet" />
        <script src="@Url.Content("~/bundles/celloscripts")" type="text/javascript"></script>
        <script type="text/javascript">
            window.debug_donot_init = true;
            $(function () {
                $('#pDebug').show();
            });
        </script>
        <style type="text/css">
            #pDebugToolbar {
                top: 0 !important;
            }
        </style>
    }
}

<div id="introspection-wrapper">
    <div id="pDebug">
        <nav id="pDebugToolbar">
            <ul id="pDebugPanelList">
                <li>
                    <a href="#sql-content" data-target="sql-content">SQL Queries</a>
                    <div class="contentless">
                        <small>Count: @(db != null ? db.Count() : 0) Duration: @((db != null ? (db.Sum(x => x.Duration) * 1000) : 0).ToString("F2")) ms</small>
                    </div>
                </li>
                <li>
                    <a href="#security-content" data-target="security-content">Security</a>
                    <div class="contentless">
                        <small>Count: @(db != null ? security.Count() : 0)</small>
                    </div>
                </li>
                <li>
                    <a href="#performance-content" data-target="performance-content">Performance</a>
                    <div class="contentless">
                        <small>Count: @(db != null ? perf.Count() : 0) Duration: @((perf != null ? (perf.Sum(x => x.Duration) * 1000) : 0).ToString("F2")) ms</small>
                    </div>
                </li>
                @if (wcf != null && wcf.Count > 0)
                {
                    <li>
                        <a href="#wcf-content" data-target="wcf-content">WCF</a>
                        <div class="contentless">
                            <small>Count: @(db != null ? wcf.Count() : 0) Duration: @((wcf != null ? (wcf.Sum(x => x.Duration) * 1000) : 0).ToString("F2")) ms</small>
                        </div>
                    </li>
                }
                @if (User != null && User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="#user-identity" data-target="user-identity">User Identity</a>
                        <div class="contentless">
                            <small>
                                Roles: @(UserIdentity.Roles != null ? UserIdentity.Roles.Length : 0)
                                Privileges: @(UserIdentity.Privileges != null ? UserIdentity.Privileges.Length : 0)
                            </small>
                        </div>
                    </li>
                }
                @if (license != null)
                {
                    <li>
                        <a href="#tenant-license" data-target="tenant-license">Tenant License</a>
                        <div class="contentless">
                            <small>
                                Start: @(license.ValidityStart.ToUIDateTimeString())
                                Modules: @(license.LicenseModuleDetails.Count)
                            </small>
                        </div>
                    </li>
                }
                <li>
                    @{
                        string publicIP = CelloSaaS.View.Extensions.GetServerPublicIP();
                        string lanIP = CelloSaaS.View.Extensions.GetServerLANIP();
                        string clientIP = Request.ServerVariables["HTTP_X_FORWARDED_FOR"];
                        if (string.IsNullOrEmpty(clientIP)) { clientIP = Request.UserHostAddress; }
                    }
                    <a href="#" data-target="">Environment</a>
                    <div class="contentless">
                        <small>Time: @(DateTime.Now.ToLongDateString())</small><br />
                        <small>Server Machine: @Environment.MachineName</small><br />
                        <small>Server IP: @publicIP</small><br />
                        <small>Server LAN IP: @lanIP</small><br />
                        <small>Client IP: @clientIP</small><br />
                    </div>
                </li>
                <li>
                    @{
                        var responseDuration = (DateTime.Now - HttpContext.Current.Timestamp).TotalSeconds;
                    }
                    <a href="#" data-target="">Response</a>
                    <div class="contentless">
                        <small>Duration: @(responseDuration.ToString("F2")) sec</small><br />
                        <small>Type: @(Response.ContentType)</small><br />
                        <small>Status Code: @(Response.StatusCode)</small><br />
                        <small>Time: @(HttpContext.Current.Timestamp.ToString())</small>
                    </div>
                </li>
                <li style="display: none;" id="ajax-request-li">
                    <a href="#ajax-request" data-target="ajax-request">AJAX</a>
                    <div class="contentless">
                        <small>Count: <span id="ajax-count">0</span></small>
                    </div>
                </li>
                <li title="CelloSaaS Release version">
                    <a href="#" data-target="">CelloSaaS</a>
                    <div class="contentless">
                        <small>v @CelloSaaS.View.Extensions.CelloVersion(this.Html)</small>
                    </div>
                </li>
                @if (!showHtml)
                {
                    <li title="Click to view debug info of more requests">
                        <a href="@Url.Action("ViewRequests")" target="_blank">More</a>
                        <div class="contentless">
                            <small><a class="exclude" style="font-size:inherit;padding:0px;color:inherit;" href="@Url.Action("ViewRequests")" target="_blank">More</a></small>
                        </div>
                    </li>
                }
            </ul>
        </nav>
        @if (showHtml && this.Model != null)
        {
            <div class="row-fluid pd-25 form-container">
                <div class="page-title">
                    <h3>Request Details</h3>
                </div>
                <section class="panel">
                    <div class="panel-body pd-25">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <label>URL</label>
                                    </td>
                                    <td>@this.Model.RequestURL</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Timestamp</label>
                                    </td>
                                    <td>@this.Model.Timestamp</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Method</label>
                                    </td>
                                    <td>@this.Model.HttpMethod</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Type</label>
                                    </td>
                                    <td>@this.Model.RequestType</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        }
        <div id="sql-content" class="panelContent">
            <div class="pDebugPanelTitle">
                <a href="#" class="pDebugClose">&times;</a>
                <h3>SQL Queries</h3>
            </div>
            <div class="pDebugPanelContent">
                <div class="scroll">
                    <div id="sqlTableDiv">
                        @if (db != null && db.Count() > 0)
                        {
                            <table>
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Query</th>
                                        <th style="text-align: right;">Duration (ms)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in db)
                                    {
                                        <tr class="@(item.Status ? "" : "error") ">
                                            <td>
                                                @if (item.Query.IndexOf("SELECT ", StringComparison.OrdinalIgnoreCase) != -1
                                                    && item.Query.IndexOf("INSERT ", StringComparison.OrdinalIgnoreCase) == -1
                                                    && item.Query.IndexOf("UPDATE ", StringComparison.OrdinalIgnoreCase) == -1)
                                                {
                                                    <a class="selectQuery" data-querydata='@Newtonsoft.Json.JsonConvert.SerializeObject(item)' target="_blank" href="@Url.Action("SelectQuery")" title="Click to view the query result!">SELECT</a>
                                                }
                                            </td>
                                            <td>@Html.Raw(item.Query.Length > 100 ? item.Query.Substring(0, 100) + string.Format("<a href='#' class='view-query red' style='color: #de4a32;' divId='{0}' title='more...'> 'more...' </a><div id='div{0}' style='display:none'>{1}</div>", item.Id.ToString(), item.Query) : item.Query)</td>
                                            <td style="text-align: right;">@Html.Raw((item.Duration * 1000).ToString("F2")) </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div>
                                <div>Count: <b>@(db.Count())</b></div>
                                <div>Duration: <b>@((db.Sum(x => x.Duration) * 1000).ToString("F2")) ms</b></div>
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-info">
                                No sql queries executed for this request!
                            </div>
                        }
                    </div>
                    <div id="sqlSelectDiv" style="display: none;">
                        <a href="#sqlTableDiv" onclick="javascript:$('#sqlTableDiv').show();$('#sqlSelectDiv').hide();return false;">
                            <i class="icon-custom-left"></i>
                        </a>
                        <h3>SELECT Result</h3>
                        <div id="sqlSelectResultDiv">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="security-content" class="panelContent">
            <div class="pDebugPanelTitle">
                <a href="#" class="pDebugClose">&times;</a>
                <h3>Security</h3>
            </div>
            <div class="pDebugPanelContent">
                <div class="scroll">
                    @if (security != null && security.Count() > 0)
                    {
                        <table>
                            <thead>
                                <tr>
                                    <th>Resource</th>
                                    <th>Authorization Rule</th>
                                    <th>Granted</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in security)
                                {
                                    <tr class="@(item.Granted ? "" : "error") ">
                                        <td>
                                            @if (item.SourceInfo != null)
                                            {
                                                @item.Resource
                                            }
                                        </td>
                                        <td>
                                            @(string.IsNullOrEmpty(item.AuthorizationRule)
                                                ? ""
                                                : item.AuthorizationRule.Length > 100 ? item.AuthorizationRule.Substring(0, 100) + "..." : item.AuthorizationRule)
                                        </td>
                                        <td>
                                            @if (item.Granted)
                                            {
                                                <i class="fa fa-check"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-ban"></i>
                                            }
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <div>
                            <div>Count: <b>@(security.Count())</b></div>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info">
                            No security checks performed for this request!
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="performance-content" class="panelContent">
            <div class="pDebugPanelTitle">
                <a href="#" class="pDebugClose">&times;</a>
                <h3>Performance</h3>
            </div>
            <div class="pDebugPanelContent">
                <div class="scroll">
                    @if (perf != null && perf.Count() > 0)
                    {
                        <table>
                            <thead>
                                <tr>
                                    <th>Method</th>
                                    <th>Count</th>
                                    <th style="text-align: right;">Max Duration (ms)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                        var mergePerf = perf.GroupBy(x => x.SourceInfo.MethodName);

                        foreach (var item in mergePerf)
                        {
                            <tr class="@(item.Any(x => x.Status) ? "" : "error") ">
                                <td>
                                    <span title="Class: @item.First().SourceInfo.TypeName LineNo: @item.First().SourceInfo.LineNo">@item.Key</span>
                                </td>
                                <td>@item.Count()</td>
                                <td style="text-align: right;">@Html.Raw((item.Max(x => x.Duration) * 1000).ToString("F2")) </td>
                            </tr>
                        }
                                }
                            </tbody>
                        </table>
                        <div>
                            <div>Count: <b>@(perf.Count())</b></div>
                            <div>Duration: <b>@((perf != null ? (perf.Sum(x => x.Duration) * 1000) : 0).ToString("F2")) ms</b></div>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info">
                            No performance counters activated for this request!
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="wcf-content" class="panelContent">
            <div class="pDebugPanelTitle">
                <a href="#" class="pDebugClose">&times;</a>
                <h3>WCF</h3>
            </div>
            <div class="pDebugPanelContent">
                <div class="scroll">
                    @if (wcf != null && wcf.Count() > 0)
                    {
                        <table>
                            <thead>
                                <tr>
                                    <th>Operation</th>
                                    <th>Count</th>
                                    <th style="text-align: right;">Max Duration (ms)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in wcf.GroupBy(x => x.Operation))
                                {
                                    <tr class="@(item.Any(x => x.Status) ? "" : "error") ">
                                        <td>
                                            @item.Key
                                        </td>
                                        <td>@item.Count()</td>
                                        <td style="text-align: right;">@Html.Raw((item.Max(x => x.Duration) * 1000).ToString("F2")) </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div>
                            <div>Count: <b>@(wcf.Count())</b></div>
                            <div>Duration: <b>@((wcf.Sum(x => x.Duration) * 1000).ToString("F2")) ms</b></div>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info">
                            No WCF counters activated for this request!
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (User != null && User.Identity.IsAuthenticated)
        {
            <div id="user-identity" class="panelContent">
                <div class="pDebugPanelTitle">
                    <a href="#" class="pDebugClose">&times;</a>
                    <h3>User Identity</h3>
                </div>
                <div class="pDebugPanelContent">
                    <div class="scroll">
                        <table>
                            <colgroup>
                                <col style="width: 120px;" />
                                <col style="width: auto;" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td style="text-align: right;">
                                        <label>User Id</label>
                                    </td>
                                    <td>@UserIdentity.UserId</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        <label>User Name</label>
                                    </td>
                                    <td>@UserIdentity.Name</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        <label>Tenant Id</label>
                                    </td>
                                    <td>@UserIdentity.TenantID</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        <label>API Key</label>
                                    </td>
                                    <td>
                                        ************
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        <label>Roles</label>
                                    </td>
                                    <td>
                                        @if (UserIdentity.Roles != null)
                                        {
                                            foreach (var item in UserIdentity.Roles)
                                            {
                                                <div style="display: inline-block; width: 200px; margin-right: 5px; padding: 2px;">@item</div>
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        <label>Privileges</label>
                                    </td>
                                    <td>
                                        @if (UserIdentity.Privileges != null)
                                        {
                                            foreach (var item in UserIdentity.Privileges)
                                            {
                                                <div style="display: inline-block; width: 200px; margin-right: 5px; padding: 2px;">@item</div>
                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        @if (license != null)
        {
            <div id="tenant-license" class="panelContent">
                <div class="pDebugPanelTitle">
                    <a href="#" class="pDebugClose">&times;</a>
                    <h3>Tenant License</h3>
                </div>
                <div class="pDebugPanelContent">
                    <div class="scroll">
                        <table>
                            <colgroup>
                                <col style="width: 120px;" />
                                <col style="width: auto;" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td style="text-align: right;">
                                        <label>Id</label>
                                    </td>
                                    <td>@license.TenantLicenseCode</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        <label>Package</label>
                                    </td>
                                    <td>
                                        @(string.Format("{0} ({1})", license.PackageName, license.PackageId))
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        <label>Start</label>
                                    </td>
                                    <td>@license.ValidityStart.ToUIDateTimeString()</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        <label>End</label>
                                    </td>
                                    <td>@(license.ValidityEnd.HasValue ? license.ValidityEnd.Value.ToUIDateTimeString() : "Infinite")</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        <label>Trial End</label>
                                    </td>
                                    <td>@(license.TrialEndDate.HasValue ? license.TrialEndDate.Value.ToUIDateTimeString() : "NO TRIAL")</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        <label>Modules</label>
                                    </td>
                                    <td>
                                        @if (license.LicenseModuleDetails != null)
                                        {
                                            foreach (var item in license.LicenseModuleDetails)
                                            {
                                                <div style="display: inline-block; width: 200px; margin-right: 5px; padding: 2px;">@item.Value.ModuleName</div>
                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        <div id="ajax-request" class="panelContent">
            <div class="pDebugPanelTitle">
                <a href="#" class="pDebugClose">&times;</a>
                <h3>AJAX Requests</h3>
            </div>
            <div class="pDebugPanelContent">
                <div class="scroll">
                    <table id="ajax-request-table">
                        <thead>
                            <tr>
                                <th>URL</th>
                                <th>Start</th>
                                <th>Duration</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="pDebugWindow" class="panelContent"></div>
    </div>
    <div class="modal fade" id="previewQuery" tabindex="-1" role="dialog" aria-labelledby="previewExceptionMessage" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Preview Query</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<script type="text/javascript">
    $(function () {
        $('#pShowToolBarButton').click(function () {
            $('#pDebugPanelList li.active').removeClass('active');

            if ($(this).hasClass('active')) {
                $('#pDebugToolbar').removeClass('open');
                $(this).removeClass('active');
                $.cookie('pDebug_show', null, { path: '/' });
            } else {
                $('#pDebugToolbar').addClass('open');
                $(this).addClass('active');
                $.cookie('pDebug_show', true, { path: '/' });
            }
        });

        $('#pDebugPanelList li a').click(function () {

            if ($(this).hasClass('exclude')) return true;

            $('#pDebugPanelList li.active').removeClass('active');

            $(this).parent().addClass('active');
            var id = $(this).data('target');

            if (id) {
                var el = $('#' + id);

                if ($('.panelContent:visible').length > 0
                    && el[0].id != $('.panelContent:visible')[0].id) {
                    $('.panelContent:visible').hide();
                }

                if (el.is(':visible')) {
                    el.hide();
                    $.cookie('pDebug_target', null, { path: '/' });
                } else {
                    el.show();
                    $.cookie('pDebug_target', id, { path: '/' });
                }
            }


            return false;
        });

        $('.panelContent .pDebugClose').click(function () {
            $('#pDebugPanelList li.active').removeClass('active');
            $(this).closest('.panelContent').hide();
            $.cookie('pDebug_target', null, { path: '/' });
        });

        if (!window.debug_donot_init) {
            var show = $.cookie('pDebug_show');

            if (show) {
                $('#pShowToolBarButton').trigger('click');
                var id = $.cookie('pDebug_target');

                if (id) {
                    $('#' + id).show();
                }
            }
        } else {
            $('#pDebugToolbar').addClass('open');
            $(this).addClass('active');
        }

        $(document).on('click', '.pDebugPanelContent a.view-query', function () {
            var Id = $(this).attr('divId');
            var query = '<code>' + $('#div' + Id).text() + '</code>';
            $('#previewQuery .modal-body').html(query);
            $('#previewQuery').modal('show');
            return false;
        });

        $(document).on('click', '#sql-content a.selectQuery', function () {
            $.ajax({
                url: $(this).attr('href'),
                type: 'POST',
                data: JSON.stringify($(this).data('querydata')),
                contentType: 'application/json',
                success: function (data) {
                    if (data) {
                        $('#sqlTableDiv').hide();
                        $('#sqlSelectResultDiv').html(data)
                        $('#sqlSelectDiv').show();
                    }
                }
            });

            return false;
        });

        /* AJAX request capture */
        $(document).ajaxSend(function (e, xhr, settings) {
            xhr.start_time = Date.now();
        });

        $(document).ajaxComplete(function (e, xhr, settings) {
            var start = xhr.start_time || Date.now();
            var time = (Date.now() - start) || 0.0;
            var requestId = xhr.getResponseHeader('X-CelloSaaS-Introspection');

            if (requestId) {
                $('#ajax-request-li').show();
                var cnt = parseInt($('#ajax-count').text());
                $('#ajax-count').text(cnt + 1);

                var tr = "<tr>";
                tr += "<td>" + settings.url + "</td>";
                tr += "<td>" + new Date(start).toLocaleTimeString() + "</td>";
                tr += "<td>" + (time / 1000).toFixed(2) + " ms</td>";
                tr += "<td><a href='#' onclick=\"viewAjaxRequest('" + requestId + "')\"><i style='font-size:12px' class='fa fa-search'></i></a></td>";
                tr += "</tr>";

                $('#ajax-request-table tbody').append(tr);
            }
        });
    });

    function viewAjaxRequest(requestId) {
        if (!requestId) return false;

        var url = '@Url.Action("Index")';
        url += "?requestId=" + requestId;
        url += "&includeMaster=true";
        window.open(url, null, "width=850,height=800,scrollbar=true");

        return false;
    }
</script>
