﻿@using System.Data;
@model System.Data.DataTable

@if (this.Model == null)
{
    Html.RenderPartial("StatusMessage");
}
else if (Model.Rows.Count == 0)
{
    <div class="alert alert-info">
        No records found!
    </div>
}
else
{
    <table>
        <thead>
            <tr>
                @foreach (DataColumn col in this.Model.Columns)
                {
                    <th>@col.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in this.Model.Rows)
            {
                <tr>
                    @for (int i = 0; i < row.ItemArray.Length; ++i)
                    {
                        <td>@(row.ItemArray[i] != null ? row.ItemArray[i].ToString() : "")</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}