﻿@model List<CelloSaaS.Introspection.IntrospectionData>
<!doctype html>
<html class="no-js">
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>Request Debugger :: CelloSaaS</title>
    <link href="@Url.Content("~/bundles/cellostyles")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/bundles/themes/celloskin")" type="text/css" rel="stylesheet" />
    <script src="@Url.Content("~/bundles/celloscripts")" type="text/javascript"></script>
</head>
<body>
    <section class="hbox stretch" id="cpage">
        <section id="content">
            <section class="vbox">
                <section id="main-container" class="page-content scrollable">
                    <div class="content">
                        <div class="page-title">
                            <a href="/" title="Goto home!">
                                <i class="icon icon-custom-left"></i>
                            </a>
                            <h3>Latest Requests</h3>
                        </div>
                        <div class="row-fluid pd-25">
                            @if (this.Model != null && this.Model.Count > 0)
                            {
                                <table id="tblRequestList" class="celloTable">
                                    <thead>
                                        <tr>
                                            <th>Url</th>
                                            <th>Time</th>
                                            <th>IP</th>
                                            <th>Method</th>
                                            <th>Type</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in this.Model.OrderByDescending(x => x.Timestamp))
                                        {
                                            <tr>
                                                <td>@item.RequestURL</td>
                                                <td>@item.Timestamp</td>
                                                <td>@item.IPAddress</td>
                                                <td>@item.HttpMethod</td>
                                                <td>@item.RequestType</td>
                                                <td><a data-id="@item.RequestId" href="#" title="Click to view this request debug details!" class="viewRequestDetails"><i class="fa fa-search"></i></a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="alert alert-info">
                                    No request made so far!
                                </div>
                            }
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </section>
    <script type="text/javascript">
        $(function () {
            $('#tblRequestList a.viewRequestDetails').click(function () {
                var requestId = $(this).data('id');

                var url = '@Url.Action("Index")';
                url += "?requestId=" + requestId;
                url += "&includeMaster=true";
                window.open(url, null, "width=850,height=800,scrollbar=true");
            });
        });
    </script>
</body>
</html>
