<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("scripts", required: false)
    <link type="text/css" href="~/Content/HelpPage.css" rel="stylesheet" />
</head>
<body class="themeDark">
    <div id="container">
        <header class="fullSize">
            <div class="apiMenu">
                <div class="wholeMenu menuRow">
                    <div class="apiLogo menuCell" role="banner">
                        <a class="absFg" href="http://techcello.com/" title="Techcello">
                            <span class="visuallyhidden">Techcello</span>
                        </a>
                    </div>
                    <hgroup class="menuCell apiNameCell">
                        <div class="apiSwitchName">
                            <div class="apiSwitcher">
                                <div class="apiLines vIcoHover">
                                    <h1 class="apiName oneLiner" title="Tesla Model S JSON API">
                                        <span class="ellipsis">CelloSaaS API</span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </hgroup>
                </div>
            </div>
        </header>
        <div id="documentationContainer">
            @RenderBody()
        </div>
    </div>
</body>
</html>
