﻿html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #F3F5F9;
    color: #717171;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}

a, a:focus, a:hover, a:active {
    outline: 0 none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #505458;
    font-family: 'Open Sans';
    font-weight: 300;
}

#login {
    margin-bottom: -15px;
}

.login {
    background: radial-gradient(ellipse at center center, #2DD5F0 0%, #0B93E1 99%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-color: #0B93E1;
}

    .login #logo {
        margin-top: 30px;
        text-align: center;
    }

        .login #logo h1 {
            color: #FFFFFF;
            font-size: 3em;
        }

.login-box-plain {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 1px 4px #D3D3D3;
    margin: 50px auto;
    min-height: 300px;
    padding: 20px;
    position: relative;
}

    .login-box form-group i, .login-box-plain form i,
    .register-box-plain form i {
        color: #CCCCCC;
        display: block !important;
        font-size: 16px;
        height: 16px;
        margin: 9px 2px 4px 10px;
        position: absolute !important;
        text-align: center;
        width: 16px;
        z-index: 1;
    }

    .login-box-plain input[type=text],
    .login-box-plain input[type=password],
    .login-box-plain input[type=email],
    .register-box-plain input[type=text],
    .register-box-plain input[type=password],
    .register-box-plain input[type=email] {
        padding-bottom: 5px;
        padding-left: 33px !important;
        padding-right: 8px;
        padding-top: 5px;
    }


label {
    font-weight: 400;
}

    label.mandatory:after {
        content: '*';
        color: #FF5F5F;
    }

.container {
    width: 1170px;
}

.m-t-lg {
    margin-top: 20px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.animated {
    animation-duration: .75s;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.providers ul {
    padding: 0px !important;
}

    .providers ul li {
        display: inline;
        padding: 5px;
    }


.col-np {
    padding: 0;
}

.divide-20 {
    height: 20px;
    width: 100%;
}


.semi-bold {
    font-weight: 600;
}

.bigintro {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-top: 0;
}

h1 {
    margin: .67em 0;
    font-size: 2em;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h2, .h2 {
    font-size: 24px;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#SecurityQuestion {
    height: 30px;
    width: 100%;
    padding-left: 25px;
}

a{
    cursor:pointer;
}